.vs/
/bin/
/bin-int/
GLRenderer/GLRenderer.vcxproj
GLRenderer/GLRenderer.vcxproj.filters
GLRenderer/GLRenderer.vcxproj.user
GLTest/GLTest.vcxproj
GLTest/GLTest.vcxproj.user
GLTest/GLTest.vcxproj.filters
GLRenderer.sln
