.vs/
/bin/
/bin-int/
NigoziEngine/NigoziEngine.vcxproj
NigoziEngine/NigoziEngine.vcxproj.filters
NigoziEngine/NigoziEngine.vcxproj.user
Sandbox/Sandbox.vcxproj
Sandbox/Sandbox.vcxproj.user
Sandbox/Sandbox.vcxproj.filters
NigoziEngine.sln
